* { padding: 0; margin: 0; }

html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

div{
  background-color: lightblue;
  margin-left: 25em;
  margin-right: 25em;
  flex-grow: 1;
}

h1 {
  color: white;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;

}
